{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

					{% block content %}
					<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

						<!-- begin:: Content -->
						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
							<div class="kt-portlet kt-portlet--mobile">
								<div class="kt-portlet__head kt-portlet__head--lg">
									<div class="kt-portlet__head-label">
										<span class="kt-portlet__head-icon">
											<i class="kt-font-brand flaticon2-line-chart"></i>
										</span>
										<h3 class="kt-portlet__head-title">
											File Upload
										</h3>
									</div>


									<!--end: Search Form -->
								</div>
								<div class="kt-portlet__body kt-portlet__body--fit">

									<!--begin: Datatable -->
                                    <form action="/fileupload/" method="post" class="kt-form"  enctype="multipart/form-data">
                                        <div class="kt-portlet__body">
                                            {% csrf_token %}
                                          {% bootstrap_form form %}
                                          {% buttons %}
                                            <button type="submit" class="btn btn-primary">
                                              Submit
                                            </button>
                                          {% endbuttons %}
                                        </div>
                                    </form>


									<!--end: Datatable -->
								</div>
							</div>
						</div>

						<!-- end:: Content -->
					</div>
		            <script src="{% static 'assets/js/pages/crud/metronic-datatable/base/data-ajax.js' %}" type="text/javascript"></script>
                    {% endblock %}

