{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

					{% block content %}
					<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

						<!-- begin:: Content -->
						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
							<div class="kt-portlet kt-portlet--mobile">
								<div class="kt-portlet__head kt-portlet__head--lg">
									<div class="kt-portlet__head-label">
										<span class="kt-portlet__head-icon">
											<i class="kt-font-brand flaticon2-line-chart"></i>
										</span>
										<h3 class="kt-portlet__head-title">
											New Order
										</h3>
									</div>


									<!--end: Search Form -->
								</div>
								<div class="kt-portlet__body kt-portlet__body--fit">

									<!--begin: Datatable -->
                                    <form action="/neworder/" method="post" class="kt-form"  enctype="multipart/form-data">
                                        <div class="kt-portlet__body">
                                            {% csrf_token %}
                                        <div class="form-group">
                                            <label for="product_select">Product</label>
                                            <select id="product_select" class="form-control" name="product" required>
                                                {% for prod in products %}
                                                <option value="{{ prod.id }}">{{ prod.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Number of Items</label>
                                            <input type="number" name="number_of_items" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="customer_select">Customer</label>
                                            <select class="form-control" name="customer" required>
                                                {% for customer in customers %}
                                                <option value="{{ customer.id }}">{{ customer.user.email }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Status</label>
                                            <div class="kt-radio-inline">
                                                <label class="kt-radio">
                                                    <input type="radio" name="status" value="NEW" checked>NEW
                                                    <span style="font-size: 13px !important;"></span>
                                                </label>
                                                <label class="kt-radio">
                                                    <input type="radio" name="status" value="COMPLETED">COMPLETED
                                                    <span style="font-size: 13px !important;"></span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="form-group" style="font-size: 13px !important; line-height: 19.5px !important;">
                                            <label style="font-size: 13px !important; line-height: 19.5px !important;">Status</label>
                                            <div class="kt-checkbox-inline" style="font-size: 13px !important; line-height: 19.5px !important;">
                                                <label class="kt-checkbox" style="font-size: 13px !important; line-height: 19.5px !important;">
                                                    <input type="checkbox" style="font-size: 13px !important;" name="order_tags" value="Special">Special
                                                    <span style="font-size: 13px !important;"></span>
                                                </label>
                                                <label class="kt-checkbox" style="font-size: 13px !important; line-height: 19.5px !important;">
                                                    <input type="checkbox" style="font-size: 13px !important;" name="order_tags" value="Fast">Fast
                                                    <span style="font-size: 13px !important;"></span>
                                                </label>
                                               <label class="kt-checkbox" style="font-size: 13px !important; line-height: 19.5px !important;">
                                                    <input type="checkbox" style="font-size: 13px !important;" name="order_tags" value="Important">Important
                                                    <span style="font-size: 13px !important;"></span>
                                                </label>
                                               <label class="kt-checkbox" style="font-size: 13px !important; line-height: 19.5px !important;">
                                                    <input type="checkbox" style="font-size: 13px !important;" name="order_tags" value="Standard">Standard
                                                    <span style="font-size: 13px !important;"></span>
                                                </label>
                                            </div>
                                        </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>


									<!--end: Datatable -->
								</div>
							</div>
						</div>

						<!-- end:: Content -->
					</div>
                    {% endblock %}

