{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
					<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                    <h1>File Uploaded ok</h1>


					</div>
{% endblock %}